* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  font-family: "JetBrainsMono Nerd Font";

}
window#waybar {
    background-color: transparent;
}
#waybar {
  background: #1e222a;
  color: #C0CAF5;
  /* border-radius: 10px; */
  /* border-bottom: 2px solid #C0CAF5; */
  font-size: 14px;
}

#workspaces button {
  padding: 0 5px;
  color: #eeeeef;
}
/* Fix: active workspace doesn't show up */
/* #workspaces button.focused { */
#workspaces button.active {
  color: #fa5aa4;
}

#custom-powermenu,
#cpu,
#temperature,
#memory,
#workspaces,
#language,
#clock,
#window,
#wireplumber,
#custom-updates,
#custom-notification
#network
#bluetooth,
#idle_inhibitor,
#custom-player {
  padding: 4px 8px;
  background-color: #303643;
  border-radius: 30px;
  margin: 6px 4px;
}
/* #custom-powermenu, */
/* #cpu, */
/* #temperature, */
/* #memory, */
/* #workspaces, */
/* #language, */
/* #clock, */
/* #window, */
/* #wireplumber, */
/* #custom-updates, */
/* #custom-notification */
/* #network */
/* #custom-player.hover { */
/*     background-color: #ffffff; */
/* } */

#window {
  color: #929db1;
}

#tray {
  margin-left: 4px;
        padding: 4px 8px;
  background-color: #303643;
  border-radius: 30px;
  margin: 6px 4px;

}

#custom-updates {
  color: #1788e4;
}
#bluetooth{
      padding: 4px 8px;
  background-color: #303643;
  border-radius: 30px;
  margin: 6px 4px;


}
#idle_inhibitor {
  margin-left: 4px;
  padding: 4px 10px;
  background-color: #303643;
  border-radius: 30px;
  margin: 6px 6px;
}

#custom-powermenu {
  color: #e06c75;
  padding-right: 11px;
  margin-right: 8px;
}
#custom-notification{
  color: #61afef;
  min-width: 35px;
    padding: 4px 8px;
    background-color: #303643;
    border-radius: 30px;
    margin: 6px 4px;

}

#language {
    padding-right: 11px;
}


#scratchpad {
  color: #cffafe;
  padding-right: 4px;
  padding-left: 4px;
}

#wireplumber {
  color: #0fb9b1;
  padding-right: 14px;
}

#cpu {
  color: #61afef;
}

#temperature {
  color: #98c379;
}

#memory {
  color: #e5c07b;
}

#network {
  color: #c678dd;
  min-width: 250px;
    padding: 4px 8px;
    background-color: #303643;
    border-radius: 30px;
    margin: 6px 4px;

}
#custom-player {
    color: #C0CAF5;
    font-size: 100%;
    min-width: 100px;
    padding: 4px 8px;
    background-color: #303643;
    border-radius: 30px;
    margin: 6px 4px;

}

#clock {
  color: #fff;
  margin-left: 8px;
  /* opacity: 0.7; */
  /* font-size: 18px; */
}
