* {
  min-height: 0;
  margin: 0;
  padding: 0;
  font-family: "DejaVuSansM Nerd Font";
  font-size: 13px;
  color:#C8BF8D;
}
window#waybar{
  background-color: #16161D;
}
#waybar {
  background: #1e222a;
  color: #C0CAF5;
  font-size: 12px;
}

#tray,
#workspaces,
#language,
#clock,
#window,
#wireplumber,
#custom-notification
#network
#bluetooth,
#idle_inhibitor,
#mpris{
  padding: 5px 10px 5px 10px;
}

#clock {
}

#idle_inhibitor {
font-size: 15px;
}

#workspaces {
}
#workspaces button {
  padding: 0 5px;
}
#workspaces button.active {
  color: #fa5aa4;
  
}

#tray {
  color:#C8BF8D;
}

#mpris{
    min-width: 100px;
}

#custom-notification{
  min-width: 35px;
}

#wireplumber {
}

#bluetooth{
}

#network {
  margin-left: 10px;
}

#language {
  min-width: 100px;
}


#custom-powermenu {
  color: #e06c75;
}


#scratchpad {
  color: #cffafe;
}
